# Database
DATABASE_URL=postgresql://neondb_owner:npg_7vylsjbXI2BZ@ep-steep-dawn-a4zchebm-pooler.us-east-1.aws.neon.tech/prisma_migrate_shadow_db_a2a9b6e1-4bec-4abc-a224-9314559f980e?sslmode=require&channel_binding=require

# Email Configuration
EMAIL_SERVER_HOST=your-email-host
EMAIL_SERVER_PORT=465
EMAIL_SERVER_USER=your-email@domain.com
EMAIL_SERVER_PASSWORD=your-email-password
EMAIL_FROM=your-email@domain.com

# NextAuth Configuration
NEXTAUTH_URL=https://your-domain.com/
AUTH_SECRET=your-nextauth-secret-key

# API Keys
NEXT_PUBLIC_GEMINI_API_KEY=your-gemini-api-key
GEMINI_API_KEY=your-gemini-api-key

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
