.lanyard-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.lanyard-wrapper canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  touch-action: none;
}
